h2{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.card-img-top{
    height: 450px;
    border-radius: 20px;
}

.tvCard{
    margin-left: 15px;
}

.movieCard{
    margin-left: 15px;
}

.marvelCard{
    margin-left: 3px;
    margin-right: 3px;
}